header{
    height: 7rem;
    border: 1px solid red;
    line-height: 7rem;

    .container{
        display: flex;
        justify-content: space-between;
    }
    

    .logo{
        display: flex;
        align-items: center;

        h1{
            a{
                color: $font-dark-title;
                font-size: 2.4rem;
                line-height: 3.24rem;
                margin-left: 1.2rem;
            }
        }
    }

    .menu_navegacao{
        display: flex;
        align-items: center;

        nav{
            
            ul{
                display: flex;
                list-style: none;
            }

            li a{
                font-size: 1.8rem;
                line-height: 2.78rem;
                color: $font-light-text;
                display: block;
                padding: 1.5rem;
            }
        }

    }
}