.conteudoHero{
    background: $background-section;

    main{
        display: flex;

        .conteudoTexto{
            flex: 1;
            border: 1px solid red;
            

            h2{
                color: $font-dark-title;
                font-size: 4.8rem;
                line-height: 6.048rem;
            }
        }

        .conteudoImagem{
            flex: 1;
            border: 1px solid red;
        }

        .conteudoImagem img{
             width: 100%;
            object-fit: cover;
        }
    }
}

