:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.container{
    max-width: 120rem;
    margin: auto;
    padding-inline: 2%;
}