/* components */ 
@import "./reset.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./main.scss";
@import "./buttons.scss";
@import "./footer.scss";
@import "./responsive-background.scss";
@import "./responsive.elements.scss";

